*{background-color: #FFF7E1;
    width: 100%;
    
    /* background-image:url();
    background-repeat:no-repeat;
    background-size: 100% 90%;
    background-attachment: fixed; */
}
header{
    display: flex;
}
body{
    display:flex;
    flex-direction: column;
    margin: 50px;
    margin-left: 50px;
    width: 200vh;
    justify-content: center;
    align-items: center;
    background-color: rgb(246, 238, 226);
}

h1{
    font-family: Courier;
}
div.principal1{
    display: flex;
    width: 100vh;
    text-align: center;
    justify-content: center;
    
}

.logo{
    display: flex;
    width: 150px;
    margin: 50px;
}
header h1{
    display: flex;
    justify-content: center;
    margin-top: 100px;
    
}
section#banerInfo{
    display: flex;
    width: 100%;
    height: 400px;
}
.d-block{
    display: flex;
    width: 100%;
    height: 50%;
    justify-content:center ;
    align-items: center;
    margin-left: 70px;
}


#section2 {
    display: flex;
    justify-content: space-between; /* Espaciado entre las cajas */
    padding: 30px; /* Espaciado adicional en los bordes del contenedor */
  }
  
  .paquete_cuadro {
    flex-direction: column;
    margin: 20px;
    padding: 10px;
    justify-content:space-evenly;
    text-align: center;
  }


.bannerInfo{
    display: flex;
    align-items:center;
    justify-content: center;
}
p{
    margin-top: 25px;
    font-family: Courier;
}
  img .imgamsterdam{
    margin-bottom: 30px;
  }
button { 
    padding: 10px; 
    background: light-gray; 
    color: black; 
    width: 200px;  
    font-family: inherit;
    font-size: inherit;
    line-height: inherit;
    border-radius:30px; 
    margin-bottom: 10px; 
  } 
  button:hover { 
    padding: 15px; 
    background: rgba(237, 125, 33, 0.885); 
    color: white; 
  } 
  button:active { 
    padding: 15px; 
    background: gray; 
    color: white; 
  } 

  button,p{
    margin-top: 15px;
    
  }
  footer, p{
    display: flex;
    justify-content: center;
  }